// color
$primary: #1976d2;
$dark-primary-color: #fff;
$light-primary-color: #f6fbff;
$accent-color: #0096ff;
$primary-text: #fff;
$secondary-text: #fff;
$divider-color: #d3d3d3;

// font-size
$text-lg: 0.8rem;
$text-title: 1.2rem;
$text-sm: 0.8rem;
$text-md: 1rem;
$text-xs: 0.8rem;
